.App {
  text-align: center;
  background-image: url('./components/landingpage/background.webp');
  background-size: cover;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Bebas Neue', cursive;
}
