.home{
    display:block;
    flex-direction: column;
    margin: 0 auto;
    justify-content:center;
    align-items:center;
    align-content: center;
    background-color: lightyellow;
    border-radius: 20px;
}


