.home{
    display:block;
    flex-direction: column;
    margin: auto;
    justify-content:center;
    align-items:center;
    align-content: center;
    background-color: lightyellow;
    border-radius: 10px;
}


