@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.card{	
	border: 1px solid rgba(45, 0, 75, 0.489);
	box-shadow: 0 0 5px rgba(45, 0, 75, 0.489);
	border-radius: 10px;
	background-color: whitesmoke;
	width: 25%;
	height: 55%;
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 1%;
}

.card:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


.textCard {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.nameTypes {
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.name {
	display: flex;
	align-items: flex-start;
	
}

.imgPokemon {
	
	height: auto;
	width: 100%;
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
}

.types {
	display: flex;
	align-items: flex-start;
	align-items: center;
	font-size: 2.5vh;
	
}

.divAttack {
	color: whitesmoke;
	border: 2px solid rgb(255, 232, 232);
	background-color: rgba(34, 0, 93, 0.671);
	height: 20%;
	width: auto;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2%;
}

.ctype{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8%;
	align-items: center;
	padding-left: 10%;
	
}

.ctype .icon{
	margin: 5px 1px
}
