@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.filter {
    border-color: red;
    display: flex;
    width: 480px;
    display: flex;
    text-align: center;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
}

.filter div {
    width: 160px;
}

.filter select {
    width: 145px;
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    margin: 5px;
}

.filter select:hover {
    background-color: rgb(56, 119, 255);
}

.filter option {
    background: none;
}