.pagination {
	bottom: 0;
	background: rgba(128,128,128, 0.8);
	width: 98%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
    margin: auto;
}

.pagination button{
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}
button[disabled]{
    color:#c2d0d0;
    text-decoration: underline;
}


.pagination button[disabled]:hover{
    cursor:auto;
    font-size: 100%;
    text-shadow: none;
}

.pagination button:hover {
    cursor: pointer;
    font-size: 130%;
    text-shadow: 0 0 5px #fff,
}

