.showing{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 40px auto 100px auto;
   
    
    
}