.showing{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 3%;
}