@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.about{
    width: 99%;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
    
}

.about h1{
    font-size: 40px;
}

a{
    text-decoration-line: none;
}



.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.img{
    height: 10vh;
    margin: 5%;
}
.img1{
    height: 20vh;
    margin: 5%;
}
.img2{
    height: 50vh;
}

